// $names: 'primary', 'warning', 'danger', 'success', 'info', 'black', 'white', 'main', 'regular',
//     'secondary';
// $colors: $primary-color, $warning-color, $danger-color, $success-color, $info-color, $black-color,
//     $white-color, $main-color, $regular-color, $secondary-color;

// $i: 0;

// @each $name in $names {
//     $i: $i +1;

//     .text-#{$name} {
//         color: nth($colors, $i);
//     }
// }

.bg-white {
  background-color: var(--td-bg-color-container);
}

.text-gray-6 {
  color: $gray-color-6;
}

.text-warning-6 {
  color: $warning-color-6;
}

.text-error-6 {
  color: $error-color-6;
}

.text-success-6 {
  color: $success-color-6;
}
