@import './_flex';
@import './_size';
@import './_color';
@import './t-design.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family-regular;
  font-size: 14px;
  line-height: 1.5;
  color: var(--td-text-color-primary);
  background: var(--td-bg-color-container);
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

// layout
#layout {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.root {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-direction: column;

  .content-box {
    flex: 1;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    background: var(--td-bg-color-page);

    .main-box {
      position: relative;
      flex: 1;
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }
  }

  #main-container {
    flex: 1;
    padding: 0 20px;
    overflow-y: auto;
  }
}

.wp-100 {
  width: 100%;
}

.hidden {
  visibility: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.relative {
  position: relative;
}

.pointer {
  cursor: pointer;
}

.ellipsis {
  @include ellipsis();
}

.overflow-x {
  overflow-x: auto;
}

.assert-dialog-form {

  .t-input,
  .t-textarea {
    min-width: 60px;

    @media (max-width: 600px) {
      width: 100%;
    }
  }
}

.assert-dialog-input {
  width: 300px;

  @media (max-width: 600px) {
    width: 100%;
  }
}

body input:-internal-autofill-selected,
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #fff;
  background-image: none;
  color: var(--td-text-color-primary);
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px var(--td-bg-color-container) inset !important;
}

input:-internal-autofill-selected {
  -webkit-text-fill-color: var(--td-text-color-primary) !important;
  transition: background-color 5000s ease-in-out 0s !important;
  color: var(--td-text-color-primary) !important;
}

.overflow-y {
  overflow-y: auto;
}

@keyframes tDialogZoomIn {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  1% {
    opacity: 0;
    transform: scale(0.01);
  }

  100% {
    opacity: 1;
  }
}

.block {
  display: block;
}

.text-center {
  text-align: center;
}

.hide {
  display: none !important;
}

.t-dialog__body {
  max-height: 80vh;
  overflow-y: auto;
}